In [23]:
#1
l=[1,100,34,21,36,789,43,22,67,43,90,1000]

In [24]:
sum=0
for i in l:
    sum=sum+i
print(sum)

2246

In [25]:
#2
mul=1
for i in l:
    mul=mul*i
print(mul)

497455938668304000000

In [26]:
#4
max=l[0]
i=0
while i<(len(l)):
    if l[i]>max:
        max=l[i]
    i=i+1
print(max)

1000

In [27]:
#3
min=l[0]
for i in range(len(l)):
    if l[i]<min:
        min=l[i]
print(min)

1

In [28]:
#5
max=l[0]
i=0
while i<(len(l)):
    if l[i]>max:
        max=l[i]
    i=i+1
l.remove(max)
max2=l[0]
i=0
while i<(len(l)):
    if l[i]>max2:
        max2=l[i]
    i=i+1
print(max2)

789

In [13]:
#6
n=int(input('enter n: '))
m=[1,45,67,33,24,98,212,34,56]
l=[]
for i in range(len(m)):
    min=m[0]
    for j in range(len(m)):
        if m[j]<min:
            min=m[j]
    l.append(min)
    m.remove(min)
for i in range(n):
    print(l[i])

enter n: 3
1
24
33

In [69]:
#7
m=[1,45,67,33,24,98,212,34,56]
for i in m:
    if i%2==0:
        print(i,' is an even no.')

24  is an even no.
98  is an even no.
212  is an even no.
34  is an even no.
56  is an even no.

In [72]:
#8
for i in m:
    if i%2!=0:
        print(i,' is an odd no.')

1  is an odd no.
45  is an odd no.
67  is an odd no.
33  is an odd no.

In [84]:
#9
e=[1,2,3,['akshaj',1,45],[],[67,3],5,[]]
for i in e:
    if type(i)==list:
        count=0
        for j in i:
            count=count+1
        if count==0:
            e.remove(i)

In [85]:
e

[1, 2, 3, ['akshaj', 1, 45], [67, 3], 5]

In [79]:
#10
n=[]
for i in m:
    n.append(i)
print(n)

[1, 45, 67, 33, 24, 98, 212, 34, 56]

In [82]:
#11
c=[1,2,33,1,1,56,23,1,33,1,5,33,11,1]
n=int(input('enter value of an element: '))
count=0
for i in c:
    if i==n:
        count=count+1
print(n,' occurs ',count,' times in the list')

enter value of an element: 1
1  occurs  6  times in the list