In [1]:
#1
def is_symmetrical(x):
    x=str(x)
    return True if x[::-1]==x else False

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(890)

False

In [8]:
#2
def multiply_nums(a):
    l=a.split(', ')
    mul=1
    for i in l:
        mul=mul*int(i)
    return mul

In [9]:
multiply_nums('2, 3')

6

In [25]:
#3
def square_dig(x):
    x=str(x)
    l=[]
    for i in x:
        l.append(str(int(i)**2))
    s=''.join(l)
    return int(s)

In [28]:
square_dig(652)

36254

In [19]:
#4
def setify(l):
    j=[]
    for i in l:
        if i not in j:
            j.append(i)
    return j

In [20]:
setify([1,22,2,2,3,4,5])

[1, 22, 2, 3, 4, 5]

In [44]:
from math import *
def mean(x):
    n=x
    c=0
    l=[]
    while n>0:
        d=n%10
        l.append(d)
        c=c+1
        n=n//10
    return floor(sum(l)/c)

In [45]:
mean(512)

2